# Exclude development files
.vscode/**
.vscode-test/**
out/**
node_modules/**
# src/**  # Commented out to include the src directory
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts